{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Product index</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantityp</th>
                <th>Label</th>
                <th>Unitprice</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                
                    
                

                {% if product.quantityp < 10 %}
                <td style="color: red;">{{ product.id }}</td>
                <td style="color: red;">{{ product.quantityp }}</td>
                <td style="color: red;">{{ product.label }}</td>
                <td style="color: red;">{{ product.unitprice }}</td>
                <td style="color: red;">{{ product.description }}</td>
                {% else %}
                <td>{{ product.id }}</td>
                <td>{{ product.quantityp }}</td>
                <td>{{ product.label }}</td>
                <td>{{ product.unitprice }}</td>
                <td>{{ product.description }}</td>
                {% endif %}


                <td>
                    <a href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MARKET') %}
                    <a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MARKET') %}
    <a href="{{ path('app_product_new') }}">Create new</a>
    {% endif %}
    
{% endblock %}
