{% extends 'base.html.twig' %}

{% block body %}
<body>
     <div class="main">
      <div class="shop_top">
	     <div class="container">
						
						{{ form_start(form, {'attr': {'id': 'register'}}) }}
								<div class="register-top-grid">
										<h3>PERSONAL INFORMATION</h3>
										<div>
											<span>First Name<label>*</label></span>
											<!--<input type="text">-->
											{{ form_widget(form.username) }}
										</div>
										<div>
											<span>Last Name<label>*</label></span>
											<!--<input type="text"> -->
											{{ form_widget(form.surname) }}
										</div>
										<div>
											<span>Email<label>*</label></span>
											<!--<input type="text"> -->
											{{ form_widget(form.email) }}
										</div>
										<div>
											<span>Tel<label>*</label></span>
											<!--<input type="text"> -->
                        					{{ form_widget(form.tel) }}
										</div>
										
										<div class="clear"> </div>
										<div class="clear"> </div>
								</div>
								<div class="clear"> </div>
								<div class="register-bottom-grid">
										<h3>LOGIN INFORMATION</h3>
										<div>
											<span>Password<label>*</label></span>
											<!--<input type="text">-->
											{{ form_widget(form.password) }}
										</div>
										<div>
											<span>Confirm Password<label>*</label></span>
											<!--<input type="text">-->
                        					<input type="password" id="verifpass" required>
										</div>
										<div class="clear"> </div>
								</div>
								<div class="clear"> </div>
								<!--<input type="submit" value="submit">-->
								<button class="btn btn-success">{{ button_label|default('Save') }}</button>
						{{ form_end(form) }}
						
					</div>
		   </div>
	  </div>
</body>	
{% endblock %}