{% extends 'base.html.twig' %}

{% block body %}
<head>
     <!----details-product-slider--->
				<!-- Include the Etalage files -->
					<link rel="stylesheet" href="{{ asset('css/etalage.css') }}">
					<script src="{{ asset('js/jquery.etalage.min.js') }}"></script>
				<!-- Include the Etalage files -->
				<script>
						jQuery(document).ready(function($){
			
							$('#etalage').etalage({
								thumb_image_width: 300,
								thumb_image_height: 400,
								
								show_hint: true,
								click_callback: function(image_anchor, instance_id){
									alert('Callback example:\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
								}
							});
							// This is for the dropdown list example:
							$('.dropdownlist').change(function(){
								etalage_show( $(this).find('option:selected').attr('class') );
							});

					});
				</script>
				<!--//details-product-slider-->	
</head>
<body>
     <div class="main">
      <div class="shop_top">
		<div class="container">
			<div class="row">
				<div class="col-md-9 single_left">
				   <div class="single_image">
					     <ul id="etalage">
							<li>
								<a href="optionallink.html">
									<img class="etalage_thumb_image" src="{{ asset('images/3.jpg') }}" />
									<img class="etalage_source_image" src="{{ asset('images/3.jpg') }}" />
								</a>
							</li>
							<li>
								<img class="etalage_thumb_image" src="{{ asset('images/4.jpg') }}" />
								<img class="etalage_source_image" src="{{ asset('images/4.jpg') }}" />
							</li>
							<li>
								<img class="etalage_thumb_image" src="{{ asset('images/5.jpg') }}" />
								<img class="etalage_source_image" src="{{ asset('images/5.jpg') }}" />
							</li>
							<li>
								<img class="etalage_thumb_image" src="{{ asset('images/6.jpg') }}" />
								<img class="etalage_source_image" src="{{ asset('images/6.jpg') }}" />
							</li>
							<li>
								<img class="etalage_thumb_image" src="{{ asset('images/7.jpg') }}" />
								<img class="etalage_source_image" src="{{ asset('images/7.jpg') }}" />
							</li>
							<li>
								<img class="etalage_thumb_image" src="{{ asset('images/8.jpg') }}" />
								<img class="etalage_source_image" src="{{ asset('images/8.jpg') }}" />
							</li>
							<li>
								<img class="etalage_thumb_image" src="{{ asset('images/9.jpg') }}" />
								<img class="etalage_source_image" src="{{ asset('images/9.jpg') }}" />
							</li>
						</ul>
					    </div>
				        <!-- end product_slider -->
				        <div class="single_right">
				        	<h3>{{product.label}}</h3>
							<div class="desc">
								<p>{{product.description}}</p>
							</div>
							<div class="btn_form">
							   <form>
								 <input type="submit" value="buy now" title="">
							  </form>
							</div>
							<div class="social_buttons">
								<h4>{{product.quantityp}} Items</h4>
					        </div>
				        </div>
				        <div class="clear"> </div>
				</div>
				<div class="col-md-3">
				  <div class="box-info-product">
					<p class="price2">{{product.unitprice}}€</p>
					       <ul class="prosuct-qty">
								<span>Quantity:</span>
								<select>
									{% for quantity in 1..(product.quantityp) %}
										<option>{{ quantity }}</option>
									{% endfor %}
								</select>
							</ul>
							<button type="submit" name="Submit" class="exclusive">
							   <span>Add to cart</span>
							</button>
				   </div>
			   </div>
			</div>	
			<div class="row">

				<!-- <h4 class="m_11">Related Products in the same Category</h4>
				<div class="col-md-4 product1">
					<img src="{{ asset('images/s1.jpg') }}" class="img-responsive" alt=""/> 
					<div class="shop_desc"><a href="single.html">
						</a><h3><a href="single.html"></a><a href="#">aliquam volutp</a></h3>
						<p>Lorem ipsum consectetuer adipiscing </p>
						<span class="reducedfrom">$66.00</span>
						<span class="actual">$12.00</span><br>
						<ul class="buttons">
							<li class="cart"><a href="#">Add To Cart</a></li>
							<li class="shop_btn"><a href="#">Read More</a></li>
							<div class="clear"> </div>
					    </ul>
				    </div>
				</div>
				<div class="col-md-4 product1">
					<img src="{{ asset('images/s2.jpg') }}" class="img-responsive" alt=""/> 
					<div class="shop_desc"><a href="single.html">
						</a><h3><a href="single.html"></a><a href="#">aliquam volutp</a></h3>
						<p>Lorem ipsum consectetuer adipiscing </p>
						<span class="reducedfrom">$66.00</span>
						<span class="actual">$12.00</span><br>
						<ul class="buttons">
							<li class="cart"><a href="#">Add To Cart</a></li>
							<li class="shop_btn"><a href="#">Read More</a></li>
							<div class="clear"> </div>
					    </ul>
				    </div>
				</div>
				<div class="col-md-4">
					<img src="{{ asset('images/s3.jpg') }}" class="img-responsive" alt=""/> 
					<div class="shop_desc"><a href="single.html">
						</a><h3><a href="single.html"></a><a href="#">aliquam volutp</a></h3>
						<p>Lorem ipsum consectetuer adipiscing </p>
						<span class="reducedfrom">$66.00</span>
						<span class="actual">$12.00</span><br>
						<ul class="buttons">
							<li class="cart"><a href="#">Add To Cart</a></li>
							<li class="shop_btn"><a href="#">Read More</a></li>
							<div class="clear"> </div>
					    </ul>
				    </div>
				</div> -->

			</div>	
	     </div>
	   </div>
	  </div>
</body>	
{% endblock %}